@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');
:root {
    font-family: 'Roboto', sans-serif;
}

html,
body {
    height: 100% !important;
}

div,
p {
    color: #8e8e8e;
}


/* // Resetting from the mobile up!
// 
// Dropping the root* element font size to 14px is something
// I do on almost all projects, a 16px font size on mobiles
// is not normally needed. --> Only my opinion of course!
//
// At mobile size I used the scale "Major Second" from 
// type-cale.com to set out the heading sizes as well as the
// "Major Third" scale for the .display-* classes however my
// technique was to begin the scale from the h1's front size.
// To do this simply do the h1 font size * scale size. So in 
// in this example it was 1.602 * 1.250 = 2.0025 I went with 
// 2em to keep it simple.
//
//------------------------------------------------------------// */

html,
body {
    font-size: 14px !important;
}

h1 {
    font-size: 1.602em;
}

h2 {
    font-size: 1.424em;
}

h3 {
    font-size: 1.266em;
}

h4 {
    font-size: 1.125em;
}

h5 {
    font-size: 0.889em;
}

h6 {
    font-size: 0.79em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700 !important;
    color: #3a3a3a;
}

h3 {
    color: #133b4f !important;
}

.display-1 {
    font-size: 3.906em;
}

.display-2 {
    font-size: 3.125em;
}

.display-3 {
    font-size: 2.5em;
}

.display-4 {
    font-size: 2em;
}

@media (min-width: 48em) {
    h1 {
        font-size: 2.441em;
    }
    h2 {
        font-size: 1.953em;
    }
    h3 {
        font-size: 1.563em;
    }
    h4 {
        font-size: 1.25em;
    }
    .display-1 {
        font-size: 6em;
    }
    .display-2 {
        font-size: 5.5em;
    }
    .display-3 {
        font-size: 4.5em;
    }
    .display-4 {
        font-size: 3.5em;
    }
}

#page-content-wrapper {
    min-width: 100vw;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }
}

.img-home img {
    transition: transform 1s ease;
}

@media (orientation: portrait) {
    .img-home {
        min-height: 50vh;
        max-height: 50vh;
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        overflow: hidden;
    }
    .img-home .picture {
        height: 100%;
        width: auto;
        position: absolute;
        right: 0;
    }
}

@media (orientation: landscape) {
    .img-home {
        min-height: 80vh;
        max-height: 80vh;
        position: absolute;
        bottom: 0;
        right: 0;
    }
    .img-home .picture {
        height: 100%;
        width: auto;
        position: absolute;
        right: 0;
    }
}

.img-bottom-left img {
    transition: transform 1s ease;
    z-index: 9999;
}

@media (orientation: portrait) {
    .img-bottom-left {
        min-height: 20vh;
        max-height: 20vh;
        margin-right: -15px;
        width: 100%;
        position: relative;
        bottom: 0;
        left: 0;
        overflow: hidden;
    }
    .img-bottom-left .picture {
        height: auto;
        width: 100%;
        position: absolute;
        right: 0;
        bottom: 0;
    }
}

@media (orientation: landscape) {
    .img-bottom-left {
        width: 50%;
        max-width: 50%;
        margin-right: -15px;
        /* position: relative; */
        bottom: 0;
        right: 0;
    }
    .img-bottom-left .picture {
        height: auto;
        width: 100%;
        /* position: absolute; */
        bottom: 0;
        right: 0;
    }
}

.img-bottom-right img {
    transition: transform 1s ease;
    /* z-index: 9999; */
}

@media (orientation: portrait) {
    .img-bottom-right {
        min-height: 20vh;
        max-height: 20vh;
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        overflow: hidden;
    }
    .img-bottom-right .picture {
        height: 100%;
        width: auto;
        position: absolute;
        left: 0;
    }
}

@media (orientation: landscape) {
    .img-bottom-right {
        width: 50%;
        max-width: 50%;
        position: absolute;
        bottom: 0;
        left: 0;
    }
    .img-bottom-right .picture {
        height: auto;
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
    }
}

.img-contact img {
    transition: transform 1s ease;
    overflow: hidden;
}

.col-lg-6.img-contact,
.col-md-6.img-contact {
    max-height: 50%;
    width: 80% !important;
    max-width: 100%;
    margin: 0 auto;
    width: 80%;
}

.col-12.img-contact,
.col-sm-12.img-contact {
    text-align: center;
    margin: 0 auto;
    max-height: 100%;
    /* max-width: 50%; */
}

.picture {
    height: auto;
    width: 100%;
}

.navbar-tec {
    background-color: #fff !important;
    /* -webkit-box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.75); */
    padding: 16px;
}

.navbar-tec .nav-item,
.navbar-tec .nav-item .nav-link,
.nav-item,
.nav-link {
    color: #3a3a3a;
    transition: all ease .3s;
}

.navbar-tec .nav-item.active {
    font-weight: 700;
}

.nav-item:hover,
.nav-link:hover {
    color: #00a4d6 !important;
}

.home-title {
    color: #133b4f !important;
    font-weight: 700;
    font-size: 32px;
}

.informatec-btn {
    background-color: #00a4d6 !important;
    outline: none;
    box-shadow: none;
    text-align: center;
    font-weight: 700;
    color: #fff !important;
    font-size: 14px;
    font-weight: 700 !important;
    padding: 8px 16px;
}

.informatec-btn:hover,
.informatec-btn:active,
.informatec-btn:focus {
    outline: none !important;
    box-shadow: none !important;
    background-color: #0085ad !important;
    color: #fff !important;
}


/* .svg-container {
    margin: 0 auto;
    min-height: 90vh;
    max-height: 90vh;
    text-align: center;
}

.svg-container svg {
    margin: 0 auto;
    min-height: 90vh;
    max-height: 90vh;
    width: auto;
} */

.svg-small {
    min-height: 51vh !important;
    max-height: 51vh !important;
}

.svg-small svg {
    min-height: 50vh !important;
    max-height: 50vh !important;
}

.svg-small {
    /* width: auto;
    max-width: 80% !important; */
    display: inline-block;
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
    max-height: 51vh;
    width: 100% !important;
    vertical-align: center;
    background-color: #3a3a3a;
    position: relative;
}

.svg-small .svg-map {
    transition: transform .3s ease;
    height: 51vh;
    width: auto;
    margin: 0 auto !important;
}

.svg-border {
    border: #133b4f solid 2px;
}

.dot {
    fill: red;
    stroke: red;
}

.form-group textarea {
    resize: none;
}

.form-group label {
    font-weight: 700;
    color: #3a3a3a;
}

.informatec-see-btn {
    background-color: #00a4d6 !important;
    outline: none;
    box-shadow: none;
    text-align: center;
    font-weight: 700;
    color: #fff !important;
    font-size: 14px;
    font-weight: 700 !important;
}

.informatec-see-btn:hover,
.informatec-see-btn:active,
.informatec-see-btn:focus {
    outline: none !important;
    box-shadow: none !important;
    background-color: #0085ad !important;
    color: #fff !important;
}

.svg-zoom {
    display: inline-block;
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
    height: 70vh;
    vertical-align: center;
    /* background-color: #3a3a3a; */
    background-color: white;
    position: relative;
}

.svg-zoom .picture-map {
    transition: transform .3s ease;
    height: 70vh;
    width: auto;
    margin: 0 auto !important;
}

@media(orientation: portrait) {
    .svg-zoom {
        display: inline-block;
        margin: 0 auto;
        overflow: hidden;
        text-align: center;
        width: 90%;
        vertical-align: center;
        /* background-color: #3a3a3a; */
        background-color: white;
        height: auto;
        position: relative;
    }
    .svg-zoom .picture-map {
        transition: transform .3s ease;
        height: auto;
        width: 90%;
        margin: 0 auto !important;
    }
}

.svg-zoom:hover .picture-map {
    /* transform: scale(3) translate(-9.33%, -11.66%); */
    /* transform: translate(30%, 20%) scale(3); */
    /* -webkit-transform: scale(3) translate(0%, 0%);
    -ms-transform: scale(3) translate(0%, 0%);
    -o-transform: scale(3) translate(0%, 0%);
    -moz-transform: translate(-40% -40%) scale(3) translate(0%, 0%); */
}

.map-marker {
    position: absolute;
    top: calc(50% - 12px);
    left: 50%;
    width: auto;
    height: 24px;
    /* background-image: url('/public/img/marker.svg'); */
}

.map-marker-2 {
    position: absolute;
    top: 30%;
    left: 20%;
    width: 10px;
    height: 10px;
    background-color: red;
}

.simple-textarea {
    resize: none !important;
    overflow: hidden;
    /* white-space: pre-wrap !important;
    word-wrap: break-word !important; */
}

.growable-textarea {
    /* overflow: hidden;
    text-rendering: optimizeSpeed;
    vertical-align: top; */
}

input.form-control,
textarea.form-control {
    border: 1px solid #3a3a3a;
    border-radius: 8px;
}

input.form-control:invalid {
    box-shadow: none;
    outline: none;
}

input.form-control:focus,
textarea.form-control:focus,
input.form-control:active,
textarea.form-control:active {
    box-shadow: none;
    outline: none;
    border: 1px solid #00a4d6;
}

.contact-info {
    color: #8e8e8e;
    font-size: 12px;
}

.listbox-area {
    padding: 20px;
    background: #eee;
    border: 1px solid #aaa;
    font-size: 0;
    width: 100%;
}

.left-area,
.right-area {
    box-sizing: border-box;
    display: inline-block;
    font-size: 14px;
    vertical-align: top;
    width: 100%;
}

.left-area {
    padding-right: 10px;
}

.right-area {
    padding-left: 10px;
}

[role="listbox"] {
    min-height: 18em;
    outline: none;
    padding: 0;
    background: white;
    border: 2px solid #00a4d6;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.5);
    -moz-box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.5);
    box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.5);
    z-index: 9999999;
}

[role="option"] {
    display: block;
    padding: 4px 1em 4px 1.5em;
    position: relative;
    line-height: 1.8em;
    font: 14px !important;
    background: white;
}

[role="option"].focused {
    color: #00a4d6;
    font-weight: 700;
    /* color: white; */
}

[role="option"][aria-selected="true"]::before {
    content: '';
    position: absolute;
    left: 0.5em;
}

#exp_wrapper {
    position: relative;
}

#exp_button {
    /* border-radius: 8px; */
    font-size: 16px;
    text-align: left;
    padding: 5px 10px;
    width: 100%;
    position: relative;
    border: 2px solid #00a4d6;
    background-color: white;
    font-weight: 700;
}

#exp_button::after {
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #00a4d6;
    content: " ";
    position: absolute;
    right: 5px;
    top: 11px;
}

#exp_button[aria-expanded="true"]::after {
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 0;
    border-bottom: 8px solid #00a4d6;
    content: " ";
    position: absolute;
    right: 5px;
    top: 11px;
}

#exp_elem_list {
    /* border-top: 0; */
    max-height: 10em;
    overflow-y: auto;
    position: absolute;
    top: 36px;
    margin: 0;
    width: 100%;
    z-index: 999;
    scrollbar-color: red inherit;
}

.hidden {
    display: none;
}

.toolbar {
    font-size: 0;
}

.toolbar-item {
    border: 1px solid #aaa;
    background: #ccc;
}

.toolbar-item[aria-disabled="false"]:focus {
    background-color: #eee;
}

.offscreen {
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    font-size: 14px;
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.col-md .square,
.col-lg .square,
.col-xl .square {
    width: 50%;
    background-color: white;
}

.col-md .square:before,
.col-lg .square:before,
.col-xl .square:before {
    /* padding-top: 100%; */
    content: '';
    white-space: normal;
    display: inline-block;
    vertical-align: middle;
    max-width: 50%;
}

.col-sm .square,
.col-12 .square {
    width: 40%;
    background-color: white;
    margin: 0 auto;
}

.col-sm .square:before,
.col-12.square:before {
    /* padding-top: 100%; */
    content: '';
    white-space: normal;
    display: inline-block;
    vertical-align: middle;
    max-width: 40%;
}

.square {
    display: inline-block;
    overflow: hidden;
    text-align: center;
    vertical-align: center;
    background-color: white;
    position: relative;
}

.square .picture-map {
    /* transition: transform .3s ease; */
    height: auto;
    width: 100%;
    margin: 0 auto !important;
}

ul.major-ul {
    list-style: none;
    /* Remove default bullets */
}

ul.major-ul li::before {
    content: " ";
    width: 8px;
    height: 8px;
    background-color: #00a4d6;
    border-radius: 50%;
    border: 2px solid #00a4d6;
    font-weight: bold;
    display: inline-block;
    margin-right: 6px;
    margin-left: -1em;
}

a.major-link {
    text-decoration: none;
    color: rgb(64, 60, 58);
}

a.major-link:link {
    text-decoration: none;
    color: rgb(64, 60, 58);
}

a.major-link:visited {
    text-decoration: none;
    color: rgb(64, 60, 58);
}

a.major-link:hover {
    text-decoration: none;
    font-weight: 700;
    color: rgb(64, 60, 58);
}

a.major-link:active {
    text-decoration: none;
    color: rgb(64, 60, 58);
}