{% extends "templates/app.twig" %} {% block content %}
<form action="{{ path_for('admin.majors.new') }}" method="post">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="major_id">Código de carrera</label>
                <input id="major_id" name="major_id" class="form-control" placeholder="Código">
            </div>
            <div class="form-group">
                <label for="major_name">Nombre de la carrera</label>
                <input id="major_name" name="major_name" class="form-control" placeholder="Ej: Administración de Empresas">
            </div>
            <div class="form-group">
                <label for="major_profile">Perfil vocacional</label>
                <textarea id="major_profile" name="major_profile" class="form-control" rows="5"></textarea>
            </div>

        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="major_building">Edificio</label>
                <input id="major_building" name="major_building" class="form-control" placeholder="Ej: C3">
            </div>
            <div class="form-group">
                <label for="major_google">Link Google Maps</label>
                <input type="url" id="major_google" name="major_google" class="form-control" placeholder="Ej: C3">
            </div>
            {{ csrf.field | raw }}
            <div class="svg-container svg-border svg-small" id="svg-container"></div>
            <input type="hidden" name="x_value" id="x_value" value="0">
            <input type="hidden" name="y_value" id="y_value" value="0">

        </div>
    </div>
</form>

{% endblock %} {% block scripts %}
<script src="https://d3js.org/d3.v5.min.js"></script>
<script src="{{ base_url() }}/scripts/map-select.js"></script>
<script>
    var svg = undefined;
    $(document).ready(function() {
        d3.xml('{{ base_url() }}/img/map.svg').then(data => {
            document.getElementById('svg-container').append(data.documentElement)
            initEditor();
            newMarker();
        })
    });
</script>

{% endblock %}